.dashed-line {
    border-top: 2px dashed #666;
}

img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.time {
    opacity: 0.5;
}

.push {
    padding-bottom: 64px;
}

.div1 {
    border-left: 3px solid rgb(230, 227, 227);
    background-color: rgb(255, 255, 255);
    padding-left: 7px;
}