.container h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif
}
.container{
    background-color: #EAEAEA;
    font-size: 18px;
    width: 600px;
    line-height: 1.4;
}
.text{
    line-height: 2.5;
}
.content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
img{
    vertical-align: middle;
}
.advise{
    background-color: #BC2229;
    width: 150px;
    height: 58px;
    margin-right: 30px;
    border-radius: 10px;
    margin-top: 25px;
    border: 0px;
}
.test{
    width: 150px;
    height: 58px;
    border-radius: 10px;
}