*{
    margin: 0;
    padding: 0;
}
.container{
    width: 60%;
    height: 800px;
    background-color: #F0F0F0;
    border: 5px solid #030303;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}
.centered{
    width: 120px;
    height: 120px;
    background-color: #3498DB;
    color: white;
    font-size: 19px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;


}