* {
    margin: 0;
    padding: 0;
}

.main {
    margin: 10px;
    width: 800px;
    height: 400px;
    background-color: rgba(250, 235, 215, 0);
}

.header {
    width: 800px;
    height: 60px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    gap: 100px;
}

.header .name {
    color: black;
    font-size: 20px;
    flex: 1;
    font-weight: bolder;
}

.body {
    width: 800px;
    height: 300px;
    background-color: rgba(27, 182, 45, 0);
    display: flex;
    gap: 30px;
}

.body .part1 {
    flex: 1;
}

.part1 .part1_1 {
    height: 70px;

    border-radius: 0px 0px 5px 5px;
    background: linear-gradient(to right, #AF8F71, #E6CCA2);
    background-color: #E6CCA3;
    position: relative;
    bottom: 10px;
}

.part1_1 .date {
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 10px;
    color: white;
    opacity: 0.8;
}

.part1_1 .name {
    font-size: 15px;
    position: relative;
    top: 10px;
    left: 10px;
    color: white;
    opacity: 0.8;
}

.body .part2 {
    flex: 1;
    height: 235px;
    background-color: #EBEEF3;
    border-radius: 5px;
}

.body .img {
    height: 170px;
    width: 200px;
    border-radius: 5px 5px 0px 0px;
}

.part2 .img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.part2 .date {
    font-size: 8px;
    opacity: 0.6;
    color: black;
}

.part2 .name {
    font-size: 12px;
    color: black;
}

.part2 .button {
    background-color: #B8C2CE;
    width: 70px;
    height: 27px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 50px;
    color: white;

}

.body .part3 {
    flex: 2;
    height: 235px;
    background-color: #EBEEF3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.club_icon {
    height: 20px;
    width: 40px;
    border-radius: 10%;
}

.part3 .name {
    flex: 1;
    display: flex;
}

.name .club {
    flex: 5;
}

.name .num {
    text-align: center;
    flex: 1;
    font-size: 12px;
}

.name .flag {
    flex: 1;
}

.name .name {
    flex: 3;
    font-size: 12px;
    font-weight: bolder;
}

.name .value {
    flex: 1;
}